<div class="thumbnail-containter-idea " ng-click="redirectToIdea(idea.id)">
    <div class="thumbnail-modified-ideas clearfix ">
        <div class="image-inside-thumb-container-ideas">
            <img src="http://2.imimg.com/data2/RL/KQ/MY-4205975/water-painting-250x250.jpg"
                 class="img-responsive" alt="My Image">
        </div>
        <div class="caption-modified-ideas clearfix">
            <h5 class="thumbnail-modified-title"><b>{{idea.title}}</b></h5>
            <h5>{{idea.shortDescriptionWhat}}</h5>

            <div class="glyp-thumb-modified">
                <div class="profile-image-inside-thumb-container">
                    <img src="http://4.bp.blogspot.com/-zsbDeAUd8aY/US7F0ta5d9I/AAAAAAAAEKY/UL2AAhHj6J8/s1600/facebook-default-no-profile-pic.jpg" class="image-responsive profile-image-in-thumbnail"
                         alt="Profile icon">
                </div>
                <p class="by-name-text">from Elon</p>
            </div>

        </div>
    </div>
</div>

