 <div class="row">
    <div class="well">
        <div class="row">
            <div class="col-md-6">

                <div class="row" style=" border-radius: 10px;margin: 3px "
                ng-style="idea.access =='public' && {'background-color': '#99D6FF'}  || idea.access !='public' && {'background-color': 'white'}">

                    <div class="col-md-8">
                        <div class="radio" ng-class="{
                        'has-error': form.restrictOption.$invalid && form.$submitted,
                        'has-success': form.$submitted && form.restrictOption.$valid}">

                            <input id="publicRadio" type="radio" name="restrictOption" value="public"
                            ng-model="idea.access" ng-click="showOptionsForRestricted(false)" ng-required="!idea.access">
                            <label class="control-label" for="publicRadio"> <strong>Public (recommended)</strong></label>
                        </div>
                        <p>Everyone can see your idea, increasing your chances of finding help for implementing
                            it.</p>
                            <a href="#">learn More...</a>

                        </div>

                        <div class="col-md-4">
                            <img src="../bundles/idesidejsandcss/images/public.png">
                        </div>
                    </div>
                </div>
            <div class="col-md-6">

                <div class="row" style=" border-radius: 10px;margin: 3px "
                ng-style="idea.access =='restricted' && {'background-color': '#99D6FF'} || idea.access !='restricted' && {'background-color': 'white'}">

                <div class="col-md-8">

                    <div class="radio" ng-class="{

                    'has-error': form.restrictOption.$invalid && form.$submitted,
                    'has-success': form.$submitted && form.restrictOption.$valid}">
                        <input id="restrictedRadio" type="radio" name="restrictOption" value="restricted"
                        ng-model="idea.access" ng-click="showOptionsForRestricted(true)" ng-required="!idea.access">
                        <label for="restrictedRadio" class="control-label" ><strong>Restricted</strong></label>
                    </div>
                    <p>You set rules for who can see the idea and who cannot.</p>
                    <a href="#">learn More...</a>

                </div>

                <div class="col-md-4">
                    <img src="../bundles/idesidejsandcss/images/restricted.png">
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-12" ng-show="isRestrictedSelected">
        <div class="row" style=" border-radius: 10px;margin: 3px ">
            <p><strong>Requirements for being allowed to read idea:</strong></p>
        </div>
        <div class="row" style=" border-radius: 10px;margin: 3px ">

            <input id="check1" type="checkbox" ng-model="idea.accessOptions.MustloggedIn">
            <label for="check1">Must be logged in</label>
        </div>
        <div class="row" style=" border-radius: 10px;margin: 3px ">


            <input id="check3" type="checkbox" ng-model="idea.accessOptions.MustLocalArea">
            <label for="check3">Must be from your local area</label>
        </div>
        <div class="row" style=" border-radius: 10px;margin: 3px ">

            <input id="check2" type="checkbox" ng-model="idea.accessOptions.MustSignContract">
            <label for="check2">Must sign contract and agree to being logged</label>
        </div>
        <div class="row" style=" border-radius: 10px;margin: 3px ">

            <input id="check4" type="checkbox" ng-model="idea.accessOptions.MustCompetancy">
            <label for="check4">Reader must have competence you're looking for</label>
        </div>
        <div class="row" style=" border-radius: 10px;margin: 3px ">

            <input id="check5" type="checkbox" ng-model="idea.accessOptions.MustPermission">
            <label for="check5">Must have your permission (will seriously *limit results*)</label>
        </div>
    </div>
</div>
