<div class="browse">
    <div class="row">
        <h1>Add idea</h1>
    </div>
    <form name="form" novalidate valid-submit="submit()" >
        <div class="row">
                <div control-group label="Title">
                    <input 
                    type="text" 
                    class="form-control" 
                    id="title" 
                    name="title" 
                    placeholder="Enter title" 
                    ng-model="idea.title" 
                    required />
                    <span class="help-inline" ng-show="form.title.$error.required">This input is required</span>
                </div>

                <div control-group label="What">
                    <textarea 
                    type="text" 
                    class="form-control" 
                    id="what" 
                    name="what" 
                    placeholder="Summarize what your idea is in 160 characters or less." 
                    ng-model="idea.shortDescriptionWhat"
                    ng-maxlength="160" 
                    required> 
                    </textarea>
                    <span class="help-inline" ng-show="form.what.$error.required">This input is required</span>
                    <span class="help-inline"
                    ng-show="form.what.$error.maxlength">Max 160 characters! Short and sweet</span>
                </div>

                <div control-group label="Why">
                    <textarea 
                    type="text" 
                    class="form-control" 
                    id="why" 
                    name="why" 
                    placeholder="Summarize in 160 characters or less what the point of the idea is. What good will it do?" 
                    ng-model="idea.shortDescriptionWhy" 
                    ng-maxlength="160">
                </textarea>
                <span class="help-inline" ng-show="form.why.$error.required">This input is required</span>
                <span class="help-inline"
                ng-show="form.why.$error.maxlength">Max 160 characters! Short and sweet</span>
            </div>
    </div>
    <div ng-controller="uploaderCtrl" class="row" style="margin:30px">
        <!--uploader use legazy mode if not html5-->
        <div ng-show="uploader.isHTML5">
                <div nv-file-drop="" uploader="uploader">
                <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class=" my-drop-zone">
                    Another drop zone with its own settings
                </div>
            </div>
        </div>
        <input type="file" nv-file-select uploader="uploader">
        <ul>
            <li ng-repeat="item in uploader.queue">
                <strong><span ng-bind="item.file.name"></span></strong><br/>
                 <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                <button ng-click="item.upload()">upload</button>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="ideaDescription">Idea description</label>
            <editor content="idea.description"></editor>

        </div>


    </div>
    <div class="row">
        <category-picker result="idea.categoryIds"></category-picker>
    </div>
    <div class="row">
        <input type="submit"  class="btn btn-primary btn-lg" value="Post idea" />
    </div>

    </form>
</div>
